.loader {
  @apply aspect-square border-solid border-blue-200 border-8 border-r-orange-400;
  width: 50px;
  border-radius: 50%;
  animation: loader 1s infinite linear;

  @keyframes loader {
    to {
      transform: rotate(1turn);
    }
  }
}
